body {
  /* background: #222; */
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}

.btn-primary {
  margin: 10px;
}

.topBox {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 10px;
  align-items: center;
}

input[type="text"] {
  border-radius: 5px;
}
input[type="checkbox"] {
  margin: 20px;
}

.hero-bg {
  background-color: #ffe17b;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.btn-success {
  align-self: auto;
  margin: 5px;
}

h1 {
  font-size: 3.5rem;
}

.listBox {
  max-width: 400px;
  margin: 25px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
}

footer {
  position: absolute;
  bottom: 0;
}

.item {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  align-items: center;
  border-bottom: 2px solid #ffc8c8;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.textBox {
  margin-left: 75px;
}
